# Dependencias (pesan mucho y no se suben)
node_modules/

# Configuración secreta (Contiene tu EMAIL y APP password)
.env

# Archivos de log (errores de npm)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Opcional: Archivos de configuración de tu editor (VS Code)
.vscode/