extends ./layout/inicio

block contenido
    .container
        .row
            .col-6
                p hola
                img(src="/img/latemon.png", class="img-fluid").w-25
            .col-6
                p hola
                img(src="/img/latemon.png", class="img-fluid").w-25