extends ./layout/inicio

block contenido
    .container-fluid
        .text-center.frase
            .mt-md-5
                .mb-md-5
                    label  Elige tu propio estilo
                    h6 Producto no comercial
    .container
        .row.align-items-center
            .col-md-6.text-center.ringblack
                img(src=`/img/black.png`,alt="imagen",class=" w-50")
                p Limited Edition
            .col-md-6.text-center.ringwhite.text-white
                img(src=`/img/white.png`,alt="imagen",class=" w-50")
                p Limited Edition


    .container.text-center.mt-5
        .row
            .col-md-12.frase.mt-2
                h1 Productos 2026
                img(src="/image/imagen.png" class="img-fluid")



    .container.frase.mt-5.text-center
        p Coleccion Vintage

    include ./layout/layout_joyas


