extends ./layout/inicio

block contenido
    .container.mt-5
        .card-body.shadow.text-center
            .row
                .col-4.crud
                    a(href="/admin/insertar").d-block
                        p Insertar Joya
                        img(src="/imgadmin/anillo_esmeralda.jpg" class="img-fluid boton-img")

                .col-4.crud
                    a(href="/admin/eliminar").d-block
                        p Eliminar Joya
                        img(src="/imgadmin/anilloeliminar.png" class="img-fluid boton-img")

                .col-4.crud
                    a(href="/admin/comentarios").d-block
                        p Eliminar Comentario
                        img(src="/imgadmin/comentario.png" class="img-fluid boton-img")
