header
    .navegacion
        .container
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4
                .col-md-4.logo
                    a(href="/")
                        img(src="/image/logo.png",alt="sitio logo")
                .col-md-8
                    nav.mt-5.mt-md-0.nav.justify-content-sm-end.textnav
                        a.nav-link(href="/joyas") Joyas
                        a.nav-link(href="/resenias") Reseñas
                        a.nav-link(href="/historia") Historia